<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TinyMCE Editor Example</title>
    <!-- Include TinyMCE CSS and JS from CDN -->
    <script src="https://cdn.tiny.cloud/1/kbhuj5kbg0di54ue8e9virsrbw7ufa005ttmtzrpdmvwh8nc/tinymce/7/tinymce.min.js"
        referrerpolicy="origin"></script>



</head>

<body>
    <h1>TinyMCE Word Editor</h1>
    <form>
        <textarea id="myTextarea"></textarea>
    </form>


    <button id="getHTML">get html</button>
    <button id="getDocx">get docx</button>


    <script>
        tinymce.init({
            selector: '#myTextarea',
            height: 500,
            plugins: [
                'advlist', 'autolink', 'lists', 'link', 'image', 'charmap', 'preview',
                'anchor', 'searchreplace', 'visualblocks', 'code', 'fullscreen',
                'insertdatetime', 'media', 'table', 'help', 'wordcount'
            ],
            toolbar: 'undo redo | blocks | ' +
                'bold italic backcolor | alignleft aligncenter ' +
                'alignright alignjustify | bullist numlist outdent indent | ' +
                'removeformat | help',
            content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }'
        });

        document.getElementById("getHTML").addEventListener("click", () =>
        {
            var htmlContent = tinymce.get('myTextarea').getContent();
            console.log(htmlContent);
        });

        document.getElementById("getDocx").addEventListener("click", () =>
        {

        });

    </script>
</body>

</html>